API_KEY=your_api_key_here
BASE_URL_DEV=https://dev-kmm-ai.dzizee.my.id/api
BASE_URL_STAGING=https://ai-api.dev.kacamatamoo.co.id/api
BASE_URL_PROD=https://kmm-ai.dzizee.my.id/api
KEY_AR_ANDROID=your_api_key_here