API_KEY=your_api_key_here
BASE_URL_DEV=https://dev-kmm-ai.dzizee.my.id/api
BASE_URL_STAGING=https://ai-api.dev.kacamatamoo.co.id/api
BASE_URL_PROD=https://kmm-ai.dzizee.my.id/api
KEY_AR_ANDROID=27991415c40966065e1878cda0f387e94a633c87a8bdfa8ad5731ddaf3d97c38055b214bc2d70017