stages:
  - analyze
  - test
  - scan
  - build
  - post-build-scan
  - deploy

variables:
  DOCKER_REGISTRY: 560397894482.dkr.ecr.ap-southeast-3.amazonaws.com
  IMAGE_NAME: kmm-frame-mobile
  IMAGE_TAG_STAGING: ${CI_COMMIT_SHORT_SHA}
  IMAGE_TAG_PRODUCTION: $CI_COMMIT_TAG
  DOCKERFILE_PATH: ./Dockerfile
  INFISICAL_ENV_PATH: /kacamatamoo/frame/kmm-frame-mobile
  GOCACHE: $CI_PROJECT_DIR/.cache/go-build
  GOMODCACHE: $CI_PROJECT_DIR/.cache/go-mod


cache:
  key:
    files:
      - pubspec.lock
  paths:
    - .pub-cache/

before_script:
  - flutter pub get

################################################################################
# Flutter TEST
################################################################################

flutter_test:
  stage: test
  image: http://ghcr.io/cirruslabs/flutter:3.38.5
  script:
    - flutter test
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH == "staging"'
    - if: '$CI_COMMIT_BRANCH == "main"'

################################################################################
# SECURITY SCAN (Trivy, GitGuardian, Flutter Analyze)
################################################################################

gitguardian-scan:
  image: gitguardian/ggshield:latest
  stage: scan
  script: ggshield secret scan ci

flutter_analyze:
  stage: analyze
  image: http://ghcr.io/cirruslabs/flutter:3.38.5
  script:
    - flutter analyze
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH == "staging"'
    - if: '$CI_COMMIT_BRANCH == "main"'

trivy-scan-fs:
  stage: scan
  image:
    name: aquasec/trivy:latest
    entrypoint: [""]
  before_script: [] # Override global before_script
  script:
    - ci/trivy-scan-fs.sh
  rules:
    - if: '$CI_COMMIT_BRANCH == "staging"'
    - if: '$CI_COMMIT_TAG'

################################################################################
# BUILD
################################################################################

build_android:
  stage: build
  image: http://ghcr.io/cirruslabs/flutter:3.38.5
  script:
    - flutter clean
    - flutter pub get
    - flutter build apk --release
  artifacts:
    paths:
      - build/app/outputs/flutter-apk/app-release.apk
    expire_in: 1 week
  rules:
    - if: '$CI_COMMIT_BRANCH == "staging"'
    - if: '$CI_COMMIT_TAG'

################################################################################
# DEPLOY (Rename & Archive APKs)
################################################################################

deploy:staging:
  stage: deploy
  image: alpine:3.22.2
  needs:
    - job: build_android
      artifacts: true
  rules:
    - if: '$CI_COMMIT_BRANCH == "staging"'
  before_script: []
  script:
    - mkdir -p deploy/
    - cp build/app/outputs/flutter-apk/app-release.apk deploy/${IMAGE_TAG_STAGING}.apk
  artifacts:
    paths:
      - deploy/${IMAGE_TAG_STAGING}.apk
    expire_in: 1 week

deploy:production:
  stage: deploy
  image: alpine:3.22.2
  needs:
    - job: build_android
      artifacts: true
  rules:
    - if: '$CI_COMMIT_TAG'
  before_script: []
  script:
    - mkdir -p deploy/
    - cp build/app/outputs/flutter-apk/app-release.apk deploy/${IMAGE_TAG_PRODUCTION}.apk
  artifacts:
    paths:
      - deploy/${IMAGE_TAG_PRODUCTION}.apk
    expire_in: 1 year