stages:
  - analyze
  - test
  - scan
  - build
  - post-build-scan
  - deploy

variables:
  DOCKER_REGISTRY: 560397894482.dkr.ecr.ap-southeast-3.amazonaws.com
  IMAGE_NAME: kmm-frame-mobile
  APP_NAME: kacamatamoo-frame-ai
  APP_TAG_STAGING: ${CI_COMMIT_SHORT_SHA}
  APP_TAG_PRODUCTION: $CI_COMMIT_TAG
  APP_OUTPUT: build/app/outputs/flutter-apk/app-release.apk
  INFISICAL_ENV_PATH: /kacamatamoo/frame/kmm-frame-mobile
  GOCACHE: $CI_PROJECT_DIR/.cache/go-build
  GOMODCACHE: $CI_PROJECT_DIR/.cache/go-mod


cache:
  key:
    files:
      - pubspec.lock
  paths:
    - .pub-cache/

.deploy_setup: &deploy_setup
  image: node:20.19.6-alpine3.22
  before_script:
    - apk add --no-cache curl bash
    - curl -1sLf 'https://dl.cloudsmith.io/public/infisical/infisical-cli/setup.alpine.sh' | bash
    - apk update && apk add infisical
    - npm install -g firebase-tools
    - chmod +x ci/*.sh

before_script:
  - flutter pub get

################################################################################
# Flutter TEST
################################################################################

flutter_test:
  stage: test
  image: http://ghcr.io/cirruslabs/flutter:3.38.5
  script:
    - flutter test
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH == "staging"'
    - if: '$CI_COMMIT_BRANCH == "main"'

################################################################################
# SECURITY SCAN (Trivy, GitGuardian, Flutter Analyze)
################################################################################

gitguardian-scan:
  image: gitguardian/ggshield:latest
  stage: scan
  script: ggshield secret scan ci

flutter_analyze:
  stage: analyze
  image: http://ghcr.io/cirruslabs/flutter:3.38.5
  script:
    - flutter analyze
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH == "staging"'
    - if: '$CI_COMMIT_BRANCH == "main"'

trivy-scan-fs:
  stage: scan
  image:
    name: aquasec/trivy:latest
    entrypoint: [""]
  before_script: [] # Override global before_script
  script:
    - ci/trivy-scan-fs.sh
  rules:
    - if: '$CI_COMMIT_BRANCH == "staging"'
    - if: '$CI_COMMIT_TAG'

################################################################################
# BUILD
################################################################################

build_android:
  stage: build
  image: http://ghcr.io/cirruslabs/flutter:3.38.5
  script:
    - flutter clean
    - flutter pub get
    - flutter build apk --release
  artifacts:
    paths:
      - build/app/outputs/flutter-apk/app-release.apk
    expire_in: 1 week
  rules:
    - if: '$CI_COMMIT_BRANCH == "staging"'
    - if: '$CI_COMMIT_TAG'

################################################################################
# DEPLOY (Rename & Archive APKs)
################################################################################

deploy:staging:
  <<: *deploy_setup
  stage: deploy
  needs:
    - job: build_android
      artifacts: true
  rules:
    - if: '$CI_COMMIT_BRANCH == "staging"'
  script:
    - export INFISICAL_ENVIRONMENT=staging
    - bash ci/infisical.sh
    - set -a; source .env; set +a
    - export FIREBASE_OUTPUT_APK="${APP_NAME}-release-${APP_TAG_STAGING}-pre.apk"
    - bash ci/firebase-deploy.sh

deploy:production:
  <<: *deploy_setup
  stage: deploy
  needs:
    - job: build_android
      artifacts: true
  rules:
    - if: '$CI_COMMIT_TAG'
  script:
    - export INFISICAL_ENVIRONMENT=prod
    - bash ci/infisical.sh
    - set -a; source .env; set +a
    - export FIREBASE_OUTPUT_APK="${APP_NAME}-release-${APP_TAG_PRODUCTION}.apk"
    - bash ci/firebase-deploy.sh
  artifacts:
    paths:
      - deploy/${APP_TAG_PRODUCTION}.apk
    expire_in: 1 year